%html{'ng-app'=>'ResistanceExercise'}
  %head
    = javascript_include_tag "resistance_exercises.js"
	
  %h1 Listing resistance_exercises
  %div{:id => headers}  <b>Exercise Reps Weight </b>
  %div{ng_controller: 'ResistanceExerciseController as resistanceExercise'}
    
    %div{'ng-repeat' => 'exercise in resistanceExercise.exercises'}
      {{exercise.name}} {{exercise.resistance}}

%table
  %thead
    %tr
      %th Name
      %th Resistance
      %th Repetitions
      %th Sets
      %th
      %th
      %th
      
  %tbody
    - @resistance_exercises.each do |resistance_exercise|
      %tr
        %td= resistance_exercise.name
        %td= resistance_exercise.resistance
        %td= resistance_exercise.repetitions
        %td= resistance_exercise.sets
        %td= link_to 'Show', resistance_exercise
        %td= link_to 'Edit', edit_resistance_exercise_path(resistance_exercise)
        %td= link_to 'Destroy', resistance_exercise, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Resistance exercise', new_resistance_exercise_path
