%html{'ng-app': 'ResistanceExercise'}
  %head
	
  %body
    %h1 Listing resistance exercises

    %form{name: 'resistanceForm', 'ng-controller': 'ResistanceWorkoutsController as resistanceWorkout', novalidate: true}
      .row
        .small-12.columns
          = link_to('Add Workout', '#', 'ng-click': 'resistanceWorkout.create_workout()', 'class': 'button expand')
      .row
        .small-12.columns
          %select{'name': 'selected_workout', 'ng-model': 'resistanceWorkout.selected_workout', 'ng-options': 'workout.id for workout in resistanceWorkout.workouts track by workout.id', 'ng-change': 'resistanceWorkout.load_workout()'}
      .row.header
        .small-1.columns
          Completed
        .small-2.columns
          Exercise
        .small-2.columns
          Weight
        .small-1.columns
          Units
        .small-1.columns
          Reps
        .small-1.end.columns
          Sets
      .row{'ng-repeat': 'exercise in resistanceWorkout.exercises'}
        .small-1.columns
          .switch
            = check_box_tag "completed_{{$index}}", false, false, 'ng-model': 'exercise.completed', id: "completed_{{$index}}"
            %label{'for': "completed_{{$index}}"}
        .small-2.columns
          %input{'ng-model': 'exercise.name', 'type': 'text'}
        .small-2.columns
          %input{'ng-model': 'exercise.resistance', required: true, 'type': 'text'}
        .small-1.columns
          %input{'ng-model': 'exercise.unit', 'type': 'text'}
        .small-1.columns
          %input{'ng-model': 'exercise.repetitions', 'type': 'number'}
        .small-1.columns
          %input{'ng-model': 'exercise.sets', 'type': 'number'}
        .small-2.columns
          = link_to('save', '#', 'ng-click': 'resistanceWorkout.save(exercise)', 'class': 'button expand')
        .small-2.columns.end
          = link_to('delete', '#', 'ng-click': 'resistanceWorkout.delete(exercise)', 'class': 'button expand')

      .row
        .small-12.columns
          = link_to('Add Exercise', '#,', 'ng-click': 'resistanceWorkout.create()', class: 'button expand')
    
    = javascript_include_tag "resistance_exercises.js"
