%html{'ng-app'=>'ResistanceExercise'}
  %head
    = javascript_include_tag "resistance_exercises.js"
	
  %body
    %h1 Listing resistance_exercises
    %div{'ng-controller' => 'ResistanceWorkoutsController as resistanceWorkout'}
      %select{'name' => 'selected_workout', 'ng-model'=>'resistanceWorkout.selected_workout', 'ng-options' => 'workout.id for workout in resistanceWorkout.workouts track by workout.id'}
      = submit_tag 'test', 'ng-click' => 'resistanceWorkout.click()'
    %div{id: headers, class: "header"}  
      Completed Exercise Weight Units Reps Sets 

    %form{name: 'resistanceForm', 'ng-controller' => 'ResistanceExerciseController as resistanceExercise',
    :novalidate => true}
    
      %div{'ng-repeat' => 'exercise in resistanceExercise.exercises', class: 'row'}
        .completed
          = check_box_tag 'completed', false, false, 'ng-model' => 'exercise.completed'
        .cell
          %input{'ng-model' => 'exercise.name'}
        .cell
          %input{'ng-model' => 'exercise.resistance', required: true}
        .cell
          %input{'ng-model' => 'exercise.unit'}
        .cell
          %input{'ng-model' => 'exercise.repetitions'}
        .cell
          %input{'ng-model' => 'exercise.sets'}
        .cell
          = submit_tag 'save', 'ng-click' => 'resistanceExercise.save(exercise)'
        .cel
          = submit_tag 'delete', 'ng-click' => 'resistanceExercise.delete(exercise)'
      
      .new
        = submit_tag 'new', 'ng-click' => 'resistanceExercise.create()'  
